sudo: false
language: python
python:
  - '2.7'
  - '3.5'
  - '3.6'
  - 3.7-dev
  - pypy-5.4.1
  - pypy3
cache: pip

matrix:
  allow_failures:
    - python: 3.7-dev
    - python: pypy3

install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; then travis_retry pip install mock; fi
  - travis_retry pip install --upgrade pip setuptools wheel twine flake8
  - pip install .

script:
  - flake8
  - python -Wall -m unittest discover tests

notifications:
  email: false

deploy:
  provider: pypi
  user: managedbyq
  password:
    secure: mRS2d0B+M71jt1zZv8o5lrazOlIr7O/yjk7USosiLl7DfyRuKbtFlEuq/1OXAiV6WUkDgzrLHBgc28lSYCs33H9xSY4KTzlW76YRA0vJX3Ed2ZAqi0CsZJq7byN7dTVDggPlXWjVHGQbdcmBSMw6jKGDxhnDCBaV7NKw9zvg+egk7XDXHbMgyOsyD4PvUMoZab/5zX7IhEI95aLqRuG+OQ3wkVqMKUySenCQvnCiefpdaDK3ZhUDL/1i67bcKaZgM43d20PamB3f1/QEQ0fj8r/HAaKGFY6nkxwnrOmzz6AI0a9NpMckw9I4xLVgP4We9XAuLGbPwvmbyzcQ1HKk2UdzwDpJNpdoG+Q698uPmwyT3c/RX2/i9eTypmPULz/of1rl1OB/z3+I7M4269E4EJbZE7eE+2CyGM8GwaABtlKAH7MDK6gOUfh9m0yu3cvtR36n/1ub6alrDP0T7fKlD7BDtcgs7vn1Ir0s74zQg0K0ppbk+SX7vs3zVTlRxsS8NOJvTPgJAWvMaKz4zf2OjIqxTLV1e8ILT8kl4EcGESCJc6pi0KfErtBbjxP16fh8ZXEbE7yHTn/qbCZr8XEwfxzlcnZav2QbwNB6TqSRGpJlNkLQtZincwcO/X09JLUt6c1zZtSvbZY0+jn/osjWXOtq6fom5SzvBbQkm1XqdgU=
  skip_upload_docs: true
  on:
    tags: true
    distributions: sdist bdist_wheel
    python: '3.6'
    repo: managedbyq/mbq.tokens
